* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #EEF9BF;
}

header h1 {
    font-family: roboto;
    font-weight: 700;
    font-size: 56px;
    color:#75B79E;
    text-align: center;
    margin-top: 40px;
}

main {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;  
    margin-top: 47px;
    margin-bottom: 153px;
    margin-left: 105px;
    margin-right: 105px;
}

.face {
    width: 117px;
    height: 146px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center; 
    background: #A7E9AF;
    /* Sem isso as cartas estarão uma ao lado da outra */
    position: absolute; 
    backface-visibility: hidden;   
}

.card {
    width: 151px;
    height: 180px;
    transform-style: preserve-3d;
    transition: all 0.5s;
    /* Faz a frente e as costas estarem sobrepostas */
    display: flex;
    justify-content: center; 
}

.flip {
    transform: rotateY(180deg);
    position: relative;
}

.front {
    transform: rotateY(180deg);
}

.face img {
    width: 100px;
    height: 100px;
}

.remove {
    display: none;
}

.disable {
    pointer-events: none;
}

@media (max-width: 519px) {

main {
    margin: 47px 109px;
}
}